<h1>Create a Team and Heroes!</h1>

<form action="/team" method="POST">
  <label for="team_name"> Team Name:</label>
  <input id="team_name" type="text" name="team[name]">

  <input type="submit" value="Submit">
</form>
